---
layout:myTemplate.njk
--- 

<article class="post secret">
    <div class="post-header">@pastille <time>7/22/2021, 6:02pm</time></div>
    <p>i just learned that you can hide post content behind a read more, like this:</p>

    <details class="readmore">
        <summary>read more</summary>

        <img src="images/photo3.png" alt="pastille sweeping" loading="lazy">
        <p>nothing to see here!</p>

    </details>

    <section class="tags">
        <a href="#secret">#secret</a>
    </section>

</article>