---
layout:myTemplate.njk
--- 

<article class="post intro">
    <div class="post-header">@pastille <time>6/10/2025, 6:13pm</time></div>

    <h2>Welcome!</h2>

    <p>this layout might be a little more complicated to use than some of the others since there's a fake tagging feature
        included, but you can choose not to use it if you think it's a hassle.</p>


</article>