---
layout:myTemplate.njk
--- 
<article class="post art">
    <div class="post-header">@pastille <time>9/12/2021, 6:50pm</time></div>
    <img src="" alt="">

    <section class="tags">
        <a href="#art">#art</a><span>Something something</span>
    </section>

</article>

</article>