<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/confession-css/confessionstyle.css" />
  </head>
  <body>
    <nav class="gothic-nav">
      <a href="/" class="nav-typewriter">HOME</a>
    </nav>

    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
