<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="author" content="Roseline" />

    <meta
      name="description"
      content="{{ description | default('The blog section of my personal web where I write things in more in-depth. Feel free to read about my rambles, I promise they&#39;re fun!') }}"
    />

    <meta
      property="og:title"
      content="{{ title | default('Roseline’s Blog') }}"
    />
    <meta property="og:type" content="article" />
    <meta
      property="og:description"
      content="{{ description | default('The blog section of my personal web where I write things in more in-depth. Feel free to read about my rambles, I promise they&#39;re fun!') }}"
    />

    {% if preview_image %}
    <meta property="og:image" content="{{ preview_image }}" />
    <meta name="twitter:card" content="summary_large_image" />
    {% endif %}

    <link
      href="/blog-css/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      rel="icon"
      type="image/webp"
      href="https://files.catbox.moe/6rl2jm.png"
    />
  </head>

  <body>
    <div id="container">
      <aside id="sidebar">
        <div class="flex">
          <div id="icon">
            <a href="/">
              <img src="/images/icon.png" alt="icon" />
            </a>
          </div>

          <section id="profile">
            <h1>
              <a href="/">Roseline</a>
            </h1>
            <p>
              The one and only! Arts enjoyer, hyperfixates on everything! No
              seriously!
            </p>

            <div id="bio">
              <p>Pronouns: She/him</p>
              <p>Age: 21+</p>
              <p>
                Site: <a href="/">https://redforroseline.nekoweb.org/</a> or
                <a href="/">https://redforroseline.neocities.org/</a>Main Page
                (use the nekoweb one tbh)
              </p>
            </div>

            <p>
              An attempt to write down my thoughts. A longer effort. Way longer.
              I need to let my fingers dance, if not they'll rot. I'm sure
              you'll understand, yes?
            </p>
          </section>
        </div>

        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">WIP</a></li>
            <li><a href="/blog">WIP</a></li>
            <li><a href="/links">WIP</a></li>
          </ul>
        </nav>

        <section id="stamps" class="center pc-only">
          <a target="_blank" href="https://neocities.org/">
            <img src="/images/site-button.gif" alt="site button" />
          </a>
        </section>

        <p class="center small-text">
          site template by <a href="https://nomnomnami.com">NomnomNami</a>
        </p>
      </aside>

      <main class="tagged">
        <section id="status" class="pinned">
          <details open>
            <summary>status <time>28/06/2026</time></summary>
            <ul>
              <li>reading:</li>
              <li>
                My Broken Mariko! I am fucked!
              </li>

              <li>listening to:</li>
              <li>
                <a
                  >I have recently rediscovered Birimbao! Such a lovely piece of music! https://open.spotify.com/track/29FJTVFWwdcwHy56qNteYg?si=492872dcbfe2468f</a
                >
              </li>

              <li>playing:</li>
              <li>
                Finally returne to ZZZ. I'm not sure who to pull, but it's nice to be in the game. Also have been playing mahjong soul so I can beat my oomfs in mahjong...grrr....
              </li>
            </ul>
          </details>
        </section>

        <section id="tag-filters" class="pinned">
          <details open>
            <summary>tag filters</summary>

            <details open>
              <summary>all posts</summary>
              <ul>
                {% for post in collections.postsReversed %}
                <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
                {% endfor %}
              </ul>
            </details>

            {% for group in collections.postsByTag %}
            <details open>
              <summary>#{{ group.tag }}</summary>
              <ul>
                {% for post in group.posts %}
                <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
                {% endfor %}
              </ul>
            </details>
            {% endfor %}
          </details>
        </section>

        {{ content | safe }}

        <section id="page-nav">
          <p class="center"><a href="#">back to top</a></p>
        </section>
      </main>

      <footer>© 2026 [Roseline]</footer>
    </div>
  </body>
</html>
